[Desktop Entry]
Version=1.0
Type=Link
Name=celular.pngImagem
Comment=
Icon=user-bookmarks
URL=https://drive.google.com/file/d/1ndFkmmKP_nMG_I4q3yXHdEkx4IZMmKwD/view?usp=drive_web&authuser=0
